<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>905155372164-dm1eag548kpdsodco07mkhe45mkifh6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905155372164-dm1eag548kpdsodco07mkhe45mkifh6e</string>
	<key>API_KEY</key>
	<string>AIzaSyDqZx1fbv1tm0KrjGT27s7LCSzGEuDs3LE</string>
	<key>GCM_SENDER_ID</key>
	<string>905155372164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.rapser.uber</string>
	<key>PROJECT_ID</key>
	<string>uber-75d75</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-75d75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905155372164:ios:7d541b0416ffa2ed</string>
	<key>DATABASE_URL</key>
	<string>https://uber-75d75.firebaseio.com</string>
</dict>
</plist>